*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, monospace;
    background-color: rgba(33, 41, 47, 0.71);
}

header {
    position: relative;
    padding: 6vh;
    text-align: center;
    background-color: #21292F;
    color: ivory;
}

.menu-icon{
    position: absolute;
    top: 20;
    left: 10;
    width: 5%;
    height: auto;
}

.wrapper{
    margin: auto 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    row-gap: 20px;
    column-gap: 20px;
    color: white;
    background-color:#346094;
}

.country{
    background-color:#346094;
    font-size: 20px;
    border-radius: 3px;
}

.flag-img{
    width: 70%;
    height: auto;
    transition: transform .3s;
}

.flag-img:hover{
   transform: scale(1.5)
}

@media screen and (max-width: 600px){
    body{
        margin: 0;
    }

    header {
        text-align: center;
        background-color: #21292f;
        color: white;
    }

    .menu-icon{
        position: static;
        width: 20%;
    }

    header h1{
        margin: 0;
        padding: 30px;
    }

    .wrapper{
        margin: 0;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 0;
        padding-top: 20px;
        padding-bottom: 0px;
    }
}