html
  head
    title= title
    link(rel="stylesheet" href="/continentTemplate/template.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    header
      a(href="/")
        img(class="menu-icon" src="menu-icon.png", alt="")
      h1=continent
    div.wrapper
        for item in countries
            div.country
                a( href= "/continent?country="+item.name)
                  img(class="flag-img" title= item.name src= item.flagImage width=200)
    div
      