*{
    margin: 0;
    padding: 0;
}

body{
    
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, monospace;
}

header{
    padding: 10vh;
    background-color:#346094;
    color: white;
    text-align: left;
}

.world-map{
    padding: 10px;
    height: 100%;
}

img.map, map area{
    outline: none;
}

img{
    width: 80%;
}


.overlay{
    background-color: rgb(185, 182, 182);
    opacity: 0.5;
}

.overlay-text{
    position: fixed;
    top: 55%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 5px;
    border: solid 1px black;
}

.overlay:hover{
    transition-duration: 0.3s;
    opacity: 1;
}

@media screen and (max-width: 600px) {
    header{
        padding: 5vh;
    }
    .overlay-text{
        display: none;
    }
    .overlay{
        background-color: #636360;
        opacity: 1;
    }
    img{
        width: 100%;
    }
}