*{
    margin: 0;
    padding: 0;
}

body{
    
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, monospace;
    color: white;
    background-color: rgba(33, 41, 47, 0.71);
}

/*Entire content*/

.country{
    background-color:rgb(52, 96, 148);
}

/*Main info*/

h1, h3{
    text-transform: uppercase;
}

.country-name{
    font-size: 30px;
    margin-top: 3vh;
}

h3{
    font-size: 20px;
    margin: 0;
}

p{
    font-size: 14px;
    text-transform: capitalize;
}

.menu-icon{
    position: absolute;
    top: 10;
    left: 10;
    width: 5%;
    height: auto;
}

.flag-image{
    padding-top: 20px;
    width: 30%;
    height: auto;
}

.flag-name{
    background-color: rgba(33, 41, 47, 0.71);
    padding-bottom: 20px;
    border-radius: 3px;
}

.wrapper, .wrapper-secondary{
    margin: auto 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    padding-top: 6vh;
}

.tile{
    padding: 3vh;
    max-width: 100%;
}

.tile, .language, .city{
    background-color: rgb(90, 123, 162);
}

/*Secondary info*/

.secondary-info{
    background-color: rgb(52, 96, 148);
    border-radius: 3px;
    padding-top: 6vh;
    padding-bottom: 6vh;
}

.wrapper-secondary{
    grid-template-columns: repeat(2, 1fr);
}

.language{
    
    padding: 5px;
    margin-right: 5px;
}

.percentage{
    font-size: 20px;
}

.cities-info{
    margin: auto 20%;
    margin-top: 6vh;
}

.cities-wrapper{
    margin: auto 20%;
}

.city{
    margin: 20px;
    padding: 20px;
}


@media screen and (max-width: 600px){
    
    .menu-icon{
        width: 7%;
    }

    .wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 6vh;
    }

    .tile{
        padding: 1vh;
    }

    .percentage{
        font-size: 16px;
    }

    .cities-wrapper{
        margin: auto 10%;
    }
}