html
  head
    title= title
    link(rel="stylesheet" href="countryTemplate/countryTemplate.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    div.content
      div.country
        div.main-info
          div.flag-name
            a(href="/")
              img(class="menu-icon" src="/menu-icon.png", alt="")
            img(class="flag-image" src= flagImage width=200)
            h1.country-name= name
          div.wrapper
            div.capital.tile
                h3 Capital
                p= capital
            div.population.tile
                h3 Population
                p #{population} Inhabitants
            div.surface.tile
                h3 Surface Area
                p #{area} km²
            div.independece.tile
                h3 Year of Indepence
                p #{independence}
            div.life-expect.tile
                h3 Life Expectancy
                p  #{lifeExpect} Years
            div.gov.tile
                h3 Form of Government
                p=formGov

      div.secondary-info        
        div.languages-info
          h3 Languages
          div.wrapper-secondary
            for item in languages
              div.language
                p.percentage #{item.Percentage}%
                p=item.Language
        div.cities-info
          h3 Main Cities
          div.cities-wrapper
            for item in cities
              div.city
                p=item.Name



    
      